<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/upload" method="post" enctype="multipart/form-data" >
            <div style="display: flex; align-items: center;">
                <p style="padding-right: 10px;">Upload South Expient File Here</p>
                <input type="file" name="CJsouth">
            </div>
            <div style="display: flex; align-items: center;">
                <p style="padding-right: 10px;">Upload Weekly Sales File Here</p>
                <input type="file" name="weekly">
            </div>
            <div style="display: flex; align-items: center;">
                <p style="padding-right: 10px;">Date</p>
                <input type="date" name="date">
            </div>
            <div>
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
    <div>

    </div>
</body>
</html>